.currency-info > * {
  vertical-align: middle;
}

.country-flag {
  height: 2rem;
  border-radius: 4px;
}

.ws-preserve {
  white-space: pre;
}

.fa-rotate-45 {
  transform: rotate(45deg);
}

.fa-rotate-315{
  transform: rotate(315deg);
}
