<div class="currency-info">
    <img
        class="country-flag mr-2"
        alt="flag"
        src="<%= data.getCountryFlag(data) %>"
    >
    <span class="h2 text-monospace"><%= data.currency %></span>
    <% if(data.isExchangeRateMovingUp(data)) { %>
        <i class="fas fa-long-arrow-alt-up fa-rotate-45 h2 text-success mx-1"></i>
    <% } else if(data.isExchangeRateMovingDown(data)) { %>
        <i class="fas fa-long-arrow-alt-down fa-rotate-315 h2 text-danger mx-1"></i>
    <% } else { %>
        <span class="h2 mx-1 text-monospace">&dash;</span>
    <% } %>
    <span class="h4">
        <%= data.getCurrencyName(data) %>,
        <%= data.getCountryName(data) %>
    </span>
</div>
<div class="exchange-rate-info">
    <small>Buy:</small>
    <span class="text-monospace ws-preserve"><%= data.formatExchangeRate(data.exchangeRate.buy) %></span>
    <small class="ml-3">Sell:</small>
    <span class="text-monospace ws-preserve"><%= data.formatExchangeRate(data.exchangeRate.sell) %></span>
</div>
