<aside class="px-3 py-2 bg-secondary text-light">
    <form class="search-form form-inline">
        <label for="search" class="mr-2">Search</label>
        <input class="search-input form-control border-dark" id="search" aria-label="Search">
    </form>
</aside>
